* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

/* nav bar style */
.nav-bar {
  padding: 10px 40px;
  background-color: pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar-links ul {
  display: flex;
  align-items: center;
  gap: 16px;
  list-style: none;
}

.nav-bar-links ul li a {
  text-decoration: none;
  color: purple;
  font-size: 1.225rem;
}

.nav-humber-icon {
  display: none;

}

/* mdeia query on 600px width */

@media (max-width: 600px) {
   .nav-bar{
    padding: 10px;
   }
   .nav-serch{
    display: none;
   } 
  .nav-bar-links {
    display: none;
  }
  .nav-humber-icon {
    display: flex;
    gap: 6px;
  }
}
